<footer>
    <p>Questions? Complaints? Compliments? <a href="mailto:feedback@lightweightlsat.com">Email me</a>.</p>
    <p>Learn something? Feel better? Buy me <a href="https://buy.stripe.com/28oaFD6hT75l7U4144">☕️</a> or  <a href="https://buy.stripe.com/14k4hf7lXexNcak5kl">🍕</a>.
    <p>All original content licensed <a rel="license"
            href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</p>
    <p>The LSAC does not approve of this website. And I do not approve of the LSAC.</p>
</footer>