---
title: Glossary
cat: none
permalink: glossary
---

<!-- Top Nav -->
<p>
{% for item in site.data.definitions -%}
    {% if item.header -%}
        </p>
        <p>
        <a href="#{{ item.word | slugify }}">{{ item.word }}</a>
        {% else -%}
        - <a href="#{{ item.word | slugify }}">{{ item.word }}</a>
    {% endif %}
{% endfor -%}
</p>

<hr>

<!-- Body -->
<div class="gloss">
    {% for item in site.data.definitions -%}
        {% if item.header -%}
            <h2 class="term" id="{{ item.word | slugify }}">{{ item.word }}</h2>
        {% else %}
            <h3 class="term" id="{{ item.word | slugify }}">{{ item.word }}</h3>
        {% endif %}
        <div>{{ item.meaning | markdownify }}</div>
    {% endfor -%}
</div>

