<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <title>Lightweight LSAT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/css/default.css" | relative_url }}">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <header>The Lightweight LSAT <a href="https://github.com/gpdowney/lightweightLSAT">v0.5</a> by Graham and <a href="../contributors.html">others</a></header>
    <main>
      <h1 id="top">{{ page.title }}</h1>
      {{ content }}
    </main>
    {% include nav.html %}
    {% include footer.html %}
  </body>
</html>
